<img src="https://i.imgur.com/FoKB5Z5.png" align="left" width="300" height="250" title="source: imgur.com" /></a>

## Program Code: J620-002-4:2020 

## Program Name: FRONT-END SOFTWARE DEVELOPMENT

## Title :  Case Study - IMDB Web Scraping

#### Name: 

#### IC Number:

#### Date :

#### Introduction : 



#### Conclusion :

**Reference : https://medium.com/better-programming/the-only-step-by-step-guide-youll-need-to-build-a-web-scraper-with-python-e79066bd895a**

In [2]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import csv
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

## 1. Import Data by using webscrapping
Open the URL with headless webdriver and parse the page source into html with beautifulsoup

In [3]:
driver = webdriver.Chrome('C:\\Users\\Asus\\Documents\\ChromeDriver\\chromedriver\\chromedriver')

url = 'https://www.imdb.com/search/title/?groups=top_1000&ref_=adv_prvt'

driver.get(url)

Append data found into list according to the category

In [4]:
keepRunning = True
data = []
#  ranking title year rating duration genre imdb score metascore description director stars votes
while keepRunning:
    soup = BeautifulSoup(driver.page_source, "html.parser")
#     try to get the table and realize there is no table and only divs so looped on the div
    for div in soup.find_all('div', attrs={'class': 'lister-item mode-advanced'}):
#         realize there is only div so have to do from section to section this is the title one got rank title and year release i hate this
        for headerDetails in div.find_all('h3', attrs={'class':'lister-item-header'}):
            for header in headerDetails:
                if header.text.rstrip() != '':
                    data.append(header.text.rstrip())
                    
#         get the dum pg duration and genre
        if div.find('span',attrs={'class':'certificate'}) != None:
            data.append(div.find('span',attrs={'class':'certificate'}).text)
        else:
            data.append('Not Rated')
        data.append(div.find('span',attrs={'class':'runtime'}).text)
        data.append(div.find('span',attrs={'class':'genre'}).text.replace('\n', '').rstrip())
#         did the same as above and got the imdb score and meta score kill me man
        for scoreDetails in div.find_all('div', attrs={'class':'ratings-bar'}):
            data.append(scoreDetails.find('strong').text.rstrip())
            if scoreDetails.find('div',attrs={'class':'inline-block ratings-metascore'}) != None:
                data.append(scoreDetails.find('div',attrs={'class':'inline-block ratings-metascore'}).find('span').text.rstrip())
            else:
                data.append(np.nan)
        tempArr=[]
        for cast in div.find_all('p',attrs={'class':""}):
            if cast.text!="Director" or cast.text!="Stars":
                tempArr.append(cast.text)
        tempString=''.join(tempArr)
        tempdata=tempString.split('|')
        data.append(tempdata[0].replace('\n', '').replace('Directors:', '').replace('Director:', '').replace('    ','').rstrip())
        data.append(tempdata[1].replace('Stars:', '').replace(' \n', '').rstrip())
        data.append(div.find_all('p',attrs={'class':'text-muted'})[1].text.replace('\n', '').replace('   ','').rstrip())
        data.append(div.find('span',attrs={'name':'nv'}).text.replace('\n', '').rstrip())
        if len(div.find('p',attrs={'class':'sort-num_votes-visible'}).find_all('span')) >= 4:
            if div.find('p',attrs={'class':'sort-num_votes-visible'}).find_all('span')[3].text == 'Gross:':
                data.append(div.find_all('span',attrs={'name':'nv'})[1].text.replace('\n', '').rstrip())
            else:
                data.append(np.nan)
        else:
            data.append(np.nan)
            
    try:
        button = driver.find_element_by_class_name('lister-page-next.next-page')
        button.click()
    except NoSuchElementException:
        keepRunning = False

Check if the data is webscrapped successfully

In [5]:
data

['1.',
 'Spider-Man: Across the Spider-Verse',
 '(2023)',
 'PG',
 '140 min',
 'Animation, Action, Adventure',
 '8.9',
 '86',
 'Joaquim Dos Santos, Kemp Powers, Justin K. Thompson',
 '   Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez',
 'Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash on how to handle a new threat, Miles must redefine what it means to be a hero.',
 '169,962',
 nan,
 '2.',
 'Titanic',
 '(1997)',
 'PG-13',
 '194 min',
 'Drama, Romance',
 '7.9',
 '75',
 'James Cameron',
 '   Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates',
 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 '1,228,149',
 '$659.33M',
 '3.',
 'Avatar: The Way of Water',
 '(2022)',
 'PG-13',
 '192 min',
 'Action, Adventure, Fantasy',
 '7.6',
 '67',
 'James Cameron',
 '   Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang',
 "Jake Sully lives with his newfound family formed on the extrasolar moon Pandora. Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their home.",
 '425,575',
 '$659.68M',
 '4.',
 'John Wick: Chapter 4',
 '(2023)',
 'R',
 '169 min',
 'Action, Crime, Thriller',
 '7.9',
 '78',
 'Chad Stahelski',
 '   Keanu Reeves,Laurence Fishburne,George Georgiou,Lance Reddick',
 'John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.',
 '231,771',
 nan,
 '5.',
 'Indiana Jones and the Raiders of the Lost Ark',
 '(1981)',
 'PG',
 '115 min',
 'Action, Adventure',
 '8.4',
 '85',
 'Steven Spielberg',
 '   Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies',
 'In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before the Nazis can obtain its awesome powers.',
 '998,423',
 '$248.16M',
 '6.',
 'Guardians of the Galaxy Vol. 3',
 '(2023)',
 'PG-13',
 '150 min',
 'Action, Adventure, Comedy',
 '8.2',
 '64',
 'James Gunn',
 '   Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff',
 'Still reeling from the loss of Gamora, Peter Quill rallies his team to defend the universe and one of their own - a mission that could mean the end of the Guardians if not successful.',
 '182,689',
 nan,
 '7.',
 'Spider-Man: Into the Spider-Verse',
 '(2018)',
 'PG',
 '117 min',
 'Animation, Action, Adventure',
 '8.4',
 '87',
 'Bob Persichetti, Peter Ramsey, Rodney Rothman',
 '   Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali',
 'Teen Miles Morales becomes the Spider-Man of his universe and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.',
 '602,881',
 '$190.24M',
 '8.',
 'Indiana Jones and the Last Crusade',
 '(1989)',
 'PG-13',
 '127 min',
 'Action, Adventure',
 '8.2',
 '65',
 'Steven Spielberg',
 '   Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott',
 'In 1938, after his father goes missing while pursuing the Holy Grail, Indiana Jones finds himself up against the Nazis again to stop them from obtaining its powers.',
 '779,501',
 '$197.17M',
 '9.',
 'Pulp Fiction',
 '(1994)',
 'R',
 '154 min',
 'Crime, Drama',
 '8.9',
 '95',
 'Quentin Tarantino',
 '   John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis',
 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
 '2,119,950',
 '$107.93M',
 '10.',
 'Interstellar',
 '(2014)',
 'PG-13',
 '169 min',
 'Adventure, Drama, Sci-Fi',
 '8.7',
 '74',
 'Christopher Nolan',
 '   Matthew McConaughey,Anne Hathaway,Jessica Chastain,Mackenzie Foy',
 'When Earth becomes uninhabitable in the future, a farmer and ex-NASA pilot, Joseph Cooper, is tasked to pilot a spacecraft, along with a team of researchers, to find a new planet for humans.',
 '1,929,479',
 '$188.02M',
 '11.',
 'Dune',
 '(2021)',
 'PG-13',
 '155 min',
 'Action, Adventure, Drama',
 '8.0',
 '74',
 'Denis Villeneuve',
 '   Timothée Chalamet,Rebecca Ferguson,Zendaya,Oscar Isaac',
 "A noble family becomes embroiled in a war for control over the galaxy's most valuable asset while its heir becomes troubled by visions of a dark future.",
 '688,991',
 '$108.33M',
 '12.',
 'Top Gun: Maverick',
 '(2022)',
 'PG-13',
 '130 min',
 'Action, Drama',
 '8.3',
 '78',
 'Joseph Kosinski',
 '   Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer',
 "After thirty years, Maverick is still pushing the envelope as a top naval aviator, but must confront ghosts of his past when he leads TOP GUN's elite graduates on a mission that demands the ultimate sacrifice from those chosen to fly it.",
 '603,876',
 '$718.73M',
 '13.',
 'The Shawshank Redemption',
 '(1994)',
 'R',
 '142 min',
 'Drama',
 '9.3',
 '82',
 'Frank Darabont',
 '   Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler',
 'Over the course of several years, two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion.',
 '2,761,166',
 '$28.34M',
 '14.',
 'The Godfather',
 '(1972)',
 'R',
 '175 min',
 'Crime, Drama',
 '9.2',
 '100',
 'Francis Ford Coppola',
 '   Marlon Brando,Al Pacino,James Caan,Diane Keaton',
 'Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son Michael. However, his decision unintentionally puts the lives of his loved ones in grave danger.',
 '1,921,501',
 '$134.97M',
 '15.',
 'The Batman',
 '(2022)',
 'PG-13',
 '176 min',
 'Action, Crime, Drama',
 '7.8',
 '72',
 'Matt Reeves',
 '   Robert Pattinson,Zoë Kravitz,Jeffrey Wright,Colin Farrell',
 "When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.",
 '708,056',
 '$369.35M',
 '16.',
 'Everything Everywhere All at Once',
 '(2022)',
 'R',
 '139 min',
 'Action, Adventure, Comedy',
 '7.8',
 '81',
 'Daniel Kwan, Daniel Scheinert',
 '   Michelle Yeoh,Stephanie Hsu,Jamie Lee Curtis,Ke Huy Quan',
 'A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.',
 '459,676',
 '$72.86M',
 '17.',
 'The Dark Knight',
 '(2008)',
 'PG-13',
 '152 min',
 'Action, Crime, Drama',
 '9.0',
 '84',
 'Christopher Nolan',
 '   Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine',
 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.',
 '2,734,140',
 '$534.86M',
 '18.',
 'Avatar',
 '(2009)',
 'PG-13',
 '162 min',
 'Action, Adventure, Fantasy',
 '7.9',
 '83',
 'James Cameron',
 '   Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez',
 'A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.',
 '1,351,001',
 '$760.51M',
 '19.',
 'Inception',
 '(2010)',
 'PG-13',
 '148 min',
 'Action, Adventure, Sci-Fi',
 '8.8',
 '74',
 'Christopher Nolan',
 '   Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe',
 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.',
 '2,426,354',
 '$292.58M',
 '20.',
 "Harry Potter and the Sorcerer's Stone",
 '(2001)',
 'PG',
 '152 min',
 'Adventure, Family, Fantasy',
 '7.6',
 '65',
 'Chris Columbus',
 '   Daniel Radcliffe,Rupert Grint,Richard Harris,Maggie Smith',
 'An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.',
 '813,979',
 '$317.58M',
 '21.',
 'The Wolf of Wall Street',
 '(2013)',
 'R',
 '180 min',
 'Biography, Comedy, Crime',
 '8.2',
 '75',
 'Martin Scorsese',
 '   Leonardo DiCaprio,Jonah Hill,Margot Robbie,Matthew McConaughey',
 'Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.',
 '1,473,661',
 '$116.90M',
 '22.',
 'Spider-Man: No Way Home',
 '(2021)',
 'PG-13',
 '148 min',
 'Action, Adventure, Fantasy',
 '8.2',
 '71',
 'Jon Watts',
 '   Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon',
 "With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes from other worlds start to appear, forcing Peter to discover what it truly means to be Spider-Man.",
 '809,422',
 '$804.75M',
 '23.',
 'Once Upon a Time in Hollywood',
 '(2019)',
 'R',
 '161 min',
 'Comedy, Drama',
 '7.6',
 '83',
 'Quentin Tarantino',
 '   Leonardo DiCaprio,Brad Pitt,Margot Robbie,Emile Hirsch',
 "A faded television actor and his stunt double strive to achieve fame and success in the final years of Hollywood's Golden Age in 1969 Los Angeles.",
 '783,817',
 '$142.50M',
 '24.',
 'The Whale',
 '(2022)',
 'R',
 '117 min',
 'Drama',
 '7.7',
 '60',
 'Darren Aronofsky',
 '   Brendan Fraser,Sadie Sink,Ty Simpkins,Hong Chau',
 'A reclusive, morbidly obese English teacher attempts to reconnect with his estranged teenage daughter.',
 '158,670',
 nan,
 '25.',
 'Jaws',
 '(1975)',
 'PG',
 '124 min',
 'Adventure, Mystery, Thriller',
 '8.1',
 '87',
 'Steven Spielberg',
 '   Roy Scheider,Robert Shaw,Richard Dreyfuss,Lorraine Gary',
 "When a killer shark unleashes chaos on a beach community off Cape Cod, it's up to a local sheriff, a marine biologist, and an old seafarer to hunt the beast down.",
 '628,576',
 '$260.00M',
 '26.',
 'Tombstone',
 '(1993)',
 'R',
 '130 min',
 'Biography, Drama, History',
 '7.8',
 '50',
 'George P. Cosmatos, Kevin Jarre',
 '   Kurt Russell,Val Kilmer,Sam Elliott,Bill Paxton',
 "A successful lawman's plans to retire anonymously in Tombstone, Arizona are disrupted by the kind of outlaws he was famous for eliminating.",
 '157,084',
 '$56.51M',
 '27.',
 'The Grand Budapest Hotel',
 '(2014)',
 'R',
 '99 min',
 'Adventure, Comedy, Crime',
 '8.1',
 '88',
 'Wes Anderson',
 '   Ralph Fiennes,F. Murray Abraham,Mathieu Amalric,Adrien Brody',
 "A writer encounters the owner of an aging high-class hotel, who tells him of his early years serving as a lobby boy in the hotel's glorious years under an exceptional concierge.",
 '844,332',
 '$59.10M',
 '28.',
 'There Will Be Blood',
 '(2007)',
 'R',
 '158 min',
 'Drama',
 '8.2',
 '93',
 'Paul Thomas Anderson',
 '   Daniel Day-Lewis,Paul Dano,Ciarán Hinds,Martin Stringer',
 'A story of family, religion, hatred, oil and madness, focusing on a turn-of-the-century prospector in the early days of the business.',
 '607,107',
 '$40.22M',
 '29.',
 'Avengers: Endgame',
 '(2019)',
 'PG-13',
 '181 min',
 'Action, Adventure, Drama',
 '8.4',
 '78',
 'Anthony Russo, Joe Russo',
 '   Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth',
 "After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.",
 '1,190,632',
 '$858.37M',
 '30.',
 'Django Unchained',
 '(2012)',
 'R',
 '165 min',
 'Drama, Western',
 '8.4',
 '81',
 'Quentin Tarantino',
 '   Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,Kerry Washington',
 'With the help of a German bounty-hunter, a freed slave sets out to rescue his wife from a brutal plantation owner in Mississippi.',
 '1,608,995',
 '$162.81M',
 '31.',
 'Mission: Impossible - Fallout',
 '(2018)',
 'PG-13',
 '147 min',
 'Action, Adventure, Thriller',
 '7.7',
 '86',
 'Christopher McQuarrie',
 '   Tom Cruise,Henry Cavill,Ving Rhames,Simon Pegg',
 'Ethan Hunt and his IMF team, along with some familiar allies, race against time after a mission gone wrong.',
 '347,730',
 '$220.16M',
 '32.',
 'Heat',
 '(1995)',
 'R',
 '170 min',
 'Action, Crime, Drama',
 '8.3',
 '76',
 'Michael Mann',
 '   Al Pacino,Robert De Niro,Val Kilmer,Jon Voight',
 'A group of high-end professional thieves start to feel the heat from the LAPD when they unknowingly leave a clue at their latest heist.',
 '681,248',
 '$67.44M',
 '33.',
 'The Green Mile',
 '(1999)',
 'R',
 '189 min',
 'Crime, Drama, Fantasy',
 '8.6',
 '61',
 'Frank Darabont',
 '   Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt',
 "A tale set on death row in a Southern jail, where gentle giant John possesses the mysterious power to heal people's ailments. When the lead guard, Paul, recognizes John's gift, he tries to help stave off the condemned man's execution.",
 '1,342,513',
 '$136.80M',
 '34.',
 'Blade Runner 2049',
 '(2017)',
 'R',
 '164 min',
 'Action, Drama, Mystery',
 '8.0',
 '81',
 'Denis Villeneuve',
 '   Harrison Ford,Ryan Gosling,Ana de Armas,Dave Bautista',
 "Young Blade Runner K's discovery of a long-buried secret leads him to track down former Blade Runner Rick Deckard, who's been missing for thirty years.",
 '609,246',
 '$92.05M',
 '35.',
 'Inglourious Basterds',
 '(2009)',
 'R',
 '153 min',
 'Adventure, Drama, War',
 '8.3',
 '69',
 'Quentin Tarantino',
 '   Brad Pitt,Diane Kruger,Eli Roth,Mélanie Laurent',
 "In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.",
 '1,500,444',
 '$120.54M',
 '36.',
 'Little Miss Sunshine',
 '(2006)',
 'R',
 '101 min',
 'Comedy, Drama',
 '7.8',
 '80',
 'Jonathan Dayton, Valerie Faris',
 '   Steve Carell,Toni Collette,Greg Kinnear,Abigail Breslin',
 'A family determined to get their young daughter into the finals of a beauty pageant take a cross-country trip in their VW bus.',
 '498,077',
 '$59.89M',
 '37.',
 'Goodfellas',
 '(1990)',
 'R',
 '145 min',
 'Biography, Crime, Drama',
 '8.7',
 '92',
 'Martin Scorsese',
 '   Robert De Niro,Ray Liotta,Joe Pesci,Lorraine Bracco',
 'The story of Henry Hill and his life in the mafia, covering his relationship with his wife Karen and his mob partners Jimmy Conway and Tommy DeVito.',
 '1,198,456',
 '$46.84M',
 '38.',
 'Prisoners',
 '(2013)',
 'R',
 '153 min',
 'Crime, Drama, Mystery',
 '8.1',
 '70',
 'Denis Villeneuve',
 '   Hugh Jackman,Jake Gyllenhaal,Viola Davis,Melissa Leo',
 "When Keller Dover's daughter and her friend go missing, he takes matters into his own hands as the police pursue multiple leads and the pressure mounts.",
 '752,826',
 '$61.00M',
 '39.',
 'The Lord of the Rings: The Fellowship of the Ring',
 '(2001)',
 'PG-13',
 '178 min',
 'Action, Adventure, Drama',
 '8.8',
 '92',
 'Peter Jackson',
 '   Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean',
 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.',
 '1,923,974',
 '$315.54M',
 '40.',
 'Apocalypse Now',
 '(1979)',
 'R',
 '147 min',
 'Drama, Mystery, War',
 '8.4',
 '94',
 'Francis Ford Coppola',
 '   Martin Sheen,Marlon Brando,Robert Duvall,Frederic Forrest',
 'A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.',
 '684,898',
 '$83.47M',
 '41.',
 'Puss in Boots: The Last Wish',
 '(2022)',
 'PG',
 '102 min',
 'Animation, Adventure, Comedy',
 '7.9',
 '73',
 'Joel Crawford, Januel Mercado',
 '   Antonio Banderas,Salma Hayek,Harvey Guillén,Florence Pugh',
 'When Puss in Boots discovers that his passion for adventure has taken its toll and he has burned through eight of his nine lives, he launches an epic journey to restore them by finding the mythical Last Wish.',
 '138,144',
 '$168.46M',
 '42.',
 'Aliens',
 '(1986)',
 'R',
 '137 min',
 'Action, Adventure, Sci-Fi',
 '8.4',
 '84',
 'James Cameron',
 '   Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser',
 'Decades after surviving the Nostromo incident, Ellen Ripley is sent out to re-establish contact with a terraforming colony but finds herself battling the Alien Queen and her offspring.',
 '735,600',
 '$85.16M',
 '43.',
 'Jurassic Park',
 '(1993)',
 'PG-13',
 '127 min',
 'Action, Adventure, Sci-Fi',
 '8.2',
 '68',
 'Steven Spielberg',
 '   Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough',
 "A pragmatic paleontologist touring an almost complete theme park on an island in Central America is tasked with protecting a couple of kids after a power failure causes the park's cloned dinosaurs to run loose.",
 '1,020,368',
 '$402.45M',
 '44.',
 'American Psycho',
 '(2000)',
 'R',
 '102 min',
 'Crime, Drama, Horror',
 '7.6',
 '64',
 'Mary Harron',
 '   Christian Bale,Justin Theroux,Josh Lucas,Bill Sage',
 'A wealthy New York City investment banking executive, Patrick Bateman, hides his alternate psychopathic ego from his co-workers and friends as he delves deeper into his violent, hedonistic fantasies.',
 '661,871',
 '$15.07M',
 '45.',
 'Dunkirk',
 '(2017)',
 'PG-13',
 '106 min',
 'Action, Drama, History',
 '7.8',
 '94',
 'Christopher Nolan',
 '   Fionn Whitehead,Barry Keoghan,Mark Rylance,Tom Hardy',
 'Allied soldiers from Belgium, the British Commonwealth and Empire, and France are surrounded by the German Army and evacuated during a fierce battle in World War II.',
 '686,686',
 '$188.37M',
 '46.',
 'Back to the Future',
 '(1985)',
 'PG',
 '116 min',
 'Adventure, Comedy, Sci-Fi',
 '8.5',
 '87',
 'Robert Zemeckis',
 '   Michael J. Fox,Christopher Lloyd,Lea Thompson,Crispin Glover',
 'Marty McFly, a 17-year-old high school student, is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his close friend, the maverick scientist Doc Brown.',
 '1,246,241',
 '$210.61M',
 '47.',
 'A Bronx Tale',
 '(1993)',
 'R',
 '121 min',
 'Crime, Drama',
 '7.8',
 '80',
 'Robert De Niro',
 '   Robert De Niro,Chazz Palminteri,Lillo Brancato,Francis Capra',
 'A father becomes worried when a local gangster befriends his son in the Bronx in the 1960s.',
 '150,540',
 '$17.27M',
 '48.',
 'Terminator 2: Judgment Day',
 '(1991)',
 'R',
 '137 min',
 'Action, Sci-Fi',
 '8.6',
 '75',
 'James Cameron',
 '   Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick',
 'A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten year old son John from an even more advanced and powerful cyborg.',
 '1,128,787',
 '$204.84M',
 '49.',
 'Se7en',
 '(1995)',
 'R',
 '127 min',
 'Crime, Drama, Mystery',
 '8.6',
 '65',
 'David Fincher',
 '   Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker',
 'Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.',
 '1,707,190',
 '$100.13M',
 '50.',
 'The Departed',
 '(2006)',
 'R',
 '151 min',
 'Crime, Drama, Thriller',
 '8.5',
 '85',
 'Martin Scorsese',
 '   Leonardo DiCaprio,Matt Damon,Jack Nicholson,Mark Wahlberg',
 'An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.',
 '1,362,901',
 '$132.38M',
 '51.',
 'Fight Club',
 '(1999)',
 'R',
 '139 min',
 'Drama',
 '8.8',
 '67',
 'David Fincher',
 '   Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier',
 'An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.',
 '2,198,553',
 '$37.03M',
 '52.',
 'Gladiator',
 '(2000)',
 'R',
 '155 min',
 'Action, Adventure, Drama',
 '8.5',
 '67',
 'Ridley Scott',
 '   Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed',
 'A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.',
 '1,543,137',
 '$187.71M',
 '53.',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 '(2003)',
 'PG-13',
 '143 min',

## 2. Building a DataFrame With pandas 
Put the data into data frame with Pandas

In [6]:
num_columns = 13
num_rows = len(data) // num_columns
data_2d = [data[i*num_columns : (i+1)*num_columns] for i in range(num_rows)]
data_2d
df = pd.DataFrame(data_2d, columns=['Rank', 'Title', 'Year', 'Rating', 'Runtime', 'Genre', 'IMDB_Score', 'Metascore', 'Director', 'Stars', 'Description' ,'Votes','Gross(M)'])
df

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,(2023),PG,140 min,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...","169,962",NaN
1,2.,Titanic,(1997),PG-13,194 min,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,"1,228,149",$659.33M
2,3.,Avatar: The Way of Water,(2022),PG-13,192 min,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,"425,575",$659.68M
3,4.,John Wick: Chapter 4,(2023),R,169 min,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,"231,771",NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,(1981),PG,115 min,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...","998,423",$248.16M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,(2012),Not Rated,126 min,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,"44,434",$0.17M
996,997.,Vizontele,(2001),Not Rated,110 min,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...","37,767",NaN
997,998.,Sarfarosh,(1999),Not Rated,174 min,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,"26,295",NaN
998,999.,Airlift,(2016),Not Rated,130 min,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...","57,934",NaN
999,"1,000.",Anand,(1971),Not Rated,122 min,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,"34,526",NaN

## 3. Data Cleaning

Data cleaning - remove the '()' from year

In [7]:
df['Year']=df['Year'].str.replace('(', '').str.replace(')', '')
df

C:\Users\Asus\AppData\Local\Temp\ipykernel_22684\2843403066.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Year']=df['Year'].str.replace('(', '').str.replace(')', '')

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,2023,PG,140 min,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...","169,962",NaN
1,2.,Titanic,1997,PG-13,194 min,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,"1,228,149",$659.33M
2,3.,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,"425,575",$659.68M
3,4.,John Wick: Chapter 4,2023,R,169 min,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,"231,771",NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115 min,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...","998,423",$248.16M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,2012,Not Rated,126 min,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,"44,434",$0.17M
996,997.,Vizontele,2001,Not Rated,110 min,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...","37,767",NaN
997,998.,Sarfarosh,1999,Not Rated,174 min,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,"26,295",NaN
998,999.,Airlift,2016,Not Rated,130 min,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...","57,934",NaN
999,"1,000.",Anand,1971,Not Rated,122 min,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,"34,526",NaN

Data cleaning - remove the min from the timemin value

In [8]:
df['Runtime']=df['Runtime'].str.replace(' min', '')
df

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,2023,PG,140,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...","169,962",NaN
1,2.,Titanic,1997,PG-13,194,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,"1,228,149",$659.33M
2,3.,Avatar: The Way of Water,2022,PG-13,192,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,"425,575",$659.68M
3,4.,John Wick: Chapter 4,2023,R,169,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,"231,771",NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...","998,423",$248.16M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,2012,Not Rated,126,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,"44,434",$0.17M
996,997.,Vizontele,2001,Not Rated,110,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...","37,767",NaN
997,998.,Sarfarosh,1999,Not Rated,174,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,"26,295",NaN
998,999.,Airlift,2016,Not Rated,130,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...","57,934",NaN
999,"1,000.",Anand,1971,Not Rated,122,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,"34,526",NaN

Data cleaning - remove the $ and M from the data value

In [9]:
df['Gross(M)']=df['Gross(M)'].str.replace('$', '').str.replace('M','')
df

C:\Users\Asus\AppData\Local\Temp\ipykernel_22684\2748443626.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross(M)']=df['Gross(M)'].str.replace('$', '').str.replace('M','')

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,2023,PG,140,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...","169,962",NaN
1,2.,Titanic,1997,PG-13,194,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,"1,228,149",659.33
2,3.,Avatar: The Way of Water,2022,PG-13,192,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,"425,575",659.68
3,4.,John Wick: Chapter 4,2023,R,169,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,"231,771",NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...","998,423",248.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,2012,Not Rated,126,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,"44,434",0.17
996,997.,Vizontele,2001,Not Rated,110,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...","37,767",NaN
997,998.,Sarfarosh,1999,Not Rated,174,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,"26,295",NaN
998,999.,Airlift,2016,Not Rated,130,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...","57,934",NaN
999,"1,000.",Anand,1971,Not Rated,122,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,"34,526",NaN

Data cleaning - clear the ',' from the votes value

In [10]:
df['Votes']=df['Votes'].str.replace(',', '')
df

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,2023,PG,140,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...",169962,NaN
1,2.,Titanic,1997,PG-13,194,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,1228149,659.33
2,3.,Avatar: The Way of Water,2022,PG-13,192,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,425575,659.68
3,4.,John Wick: Chapter 4,2023,R,169,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,231771,NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...",998423,248.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,2012,Not Rated,126,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,44434,0.17
996,997.,Vizontele,2001,Not Rated,110,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...",37767,NaN
997,998.,Sarfarosh,1999,Not Rated,174,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,26295,NaN
998,999.,Airlift,2016,Not Rated,130,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...",57934,NaN
999,"1,000.",Anand,1971,Not Rated,122,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,34526,NaN

## 4. Display Cleaned and Converted Code in Pandas

In [11]:
df

,Rank,Title,Year,Rating,Runtime,Genre,IMDB_Score,Metascore,Director,Stars,Description,Votes,Gross(M)
0,1.,Spider-Man: Across the Spider-Verse,2023,PG,140,"Animation, Action, Adventure",8.9,86,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Shameik Moore,Hailee Steinfeld,Brian Tyree ...","Miles Morales catapults across the Multiverse,...",169962,NaN
1,2.,Titanic,1997,PG-13,194,"Drama, Romance",7.9,75,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,K...",A seventeen-year-old aristocrat falls in love ...,1228149,659.33
2,3.,Avatar: The Way of Water,2022,PG-13,192,"Action, Adventure, Fantasy",7.6,67,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weave...",Jake Sully lives with his newfound family form...,425575,659.68
3,4.,John Wick: Chapter 4,2023,R,169,"Action, Crime, Thriller",7.9,78,Chad Stahelski,"Keanu Reeves,Laurence Fishburne,George Geor...",John Wick uncovers a path to defeating The Hig...,231771,NaN
4,5.,Indiana Jones and the Raiders of the Lost Ark,1981,PG,115,"Action, Adventure",8.4,85,Steven Spielberg,"Harrison Ford,Karen Allen,Paul Freeman,John...","In 1936, archaeologist and adventurer Indiana ...",998423,248.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996.,Vicky Donor,2012,Not Rated,126,"Comedy, Romance",7.8,NaN,Shoojit Sircar,"Ayushmann Khurrana,Yami Gautam,Annu Kapoor,...",A man is brought in by an infertility doctor t...,44434,0.17
996,997.,Vizontele,2001,Not Rated,110,"Comedy, Drama",8.0,NaN,"Yilmaz Erdogan, Ömer Faruk Sorak","Yilmaz Erdogan,Demet Akbag,Altan Erkekli,Ce...","Lives of residents in a small, Anatolian villa...",37767,NaN
997,998.,Sarfarosh,1999,Not Rated,174,"Action, Drama, Thriller",8.1,NaN,John Mathew Matthan,"Ali Khan,Akhilendra Mishra,Makrand Deshpand...",After his brother is killed and father severel...,26295,NaN
998,999.,Airlift,2016,Not Rated,130,"Action, Drama, History",7.9,NaN,Raja Menon,"Akshay Kumar,Nimrat Kaur,Kumud Mishra,Praka...","When Iraq invades Kuwait in August 1990, a cal...",57934,NaN
999,"1,000.",Anand,1971,Not Rated,122,"Drama, Musical",8.1,NaN,Hrishikesh Mukherjee,"Rajesh Khanna,Amitabh Bachchan,Sumita Sanya...",The story of a terminally ill man who wishes t...,34526,NaN

## 5. Saving Your Data to a CSV

In [12]:
df.to_csv('C://Users/Asus/Desktop/ds1.1/Data files/IMDB_Data.csv', index=False)

## 6. Conclusion
What have you leanrt from this practice?