A family book is a table that list the names of all people in the city, their basic information and their direct parent. 

Assuming there can be no two people with the same name, each person can only have one parent listed in the family book and one parent can have multiple children.

You are a doctor who will be seeing a lot of patients every week. In your hospital, you have a record of past patients and their medical information. By referring to both the family book and the past records, you would like to profile your upcoming patients by looking at an existing medical record of their closest ancestor (parent / parent of parent) in case there is possibility of a hereditary disease.


Example of family tree:
```
                A (has record)
                |
                B 
               / \ 
 (has record) C   D (has record)
             / \ 
            E   F
                 \ 
                  G (upcoming patient)
```
For upcoming patient G, even though A, C and D (ancestors/relatives) have medical record, we are only interested in the closest one which is C.

Additionally, for upcoming patient G, although F is its direct parent, there are no past medical records for F. Therefore, we need to keep searching patient G's ancestry to find the closest ancestor with a medical record, which is C.

**Download Files**

In [1]:
import requests

url = 'https://drive.google.com/uc?export=download&id=19YZ4Bsj5nKn2PlZ54DlfHyTyz8IiwnXT'
req = requests.get(url)
with open('./family_book.csv', 'wb') as f:
    f.write(req.content)

url = 'https://drive.google.com/uc?export=download&id=1-26M72xLOQM8J90YEw-yIAL10JYuFCpr'
req = requests.get(url)
with open('./past_medical_record.csv', 'wb') as f:
    f.write(req.content)

url = 'https://drive.google.com/uc?export=download&id=1--9lQVCZc1VOt589ods1QyTkbtYXbsJe'
req = requests.get(url)
with open('./upcoming_patients.csv', 'wb') as f:
    f.write(req.content)

In [2]:
import pandas as pd

In [3]:
family_book = pd.read_csv('./family_book.csv')

In [4]:
family_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FirstName        10000 non-null  object
 1   LastName         10000 non-null  object
 2   ParentFirstName  6911 non-null   object
 3   ParentLastName   6911 non-null   object
dtypes: object(4)
memory usage: 312.6+ KB

In [5]:
family_book.head()

   FirstName  LastName ParentFirstName ParentLastName
0    Morgana     Chris             NaN            NaN
1     Andree     Alica             NaN            NaN
2   Rochelle       Peh             NaN            NaN
3  Tanitansy  Bergwall             NaN            NaN
4     Rosana     Blain             NaN            NaN

In [6]:
past_medical_record = pd.read_csv('./past_medical_record.csv')

In [7]:
past_medical_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FirstName     5000 non-null   object
 1   LastName      5000 non-null   object
 2   Height        5000 non-null   int64
 3   Weight        5000 non-null   int64
 4   Occupation    5000 non-null   object
 5   Diabetic      5000 non-null   object
 6   HeartDisease  5000 non-null   object
 7   Smoking       5000 non-null   object
 8   DrinkAlcohol  5000 non-null   object
dtypes: int64(2), object(7)
memory usage: 351.7+ KB

In [8]:
past_medical_record.head()

,FirstName,LastName,Height,Weight,Occupation,Diabetic,HeartDisease,Smoking,DrinkAlcohol
0,Audre,Edbert,153,107,Coil Winder,Yes,No,Yes,No
1,Faye,Nora,151,60,Animator,No,No,No,Yes
2,Rozalie,Valonia,170,89,Tender,No,No,Stopped,Yes
3,Alvina,Camey,167,67,Food and Tobacco Roasting,No,No,Stopped,Yes
4,Madel,Edbert,160,61,Precious Stone and Metal Worker,No,Yes,Yes,Yes

In [9]:
upcoming_patients = pd.read_csv('./upcoming_patients.csv')

In [10]:
upcoming_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FirstName  5000 non-null   object
 1   LastName   5000 non-null   object
dtypes: object(2)
memory usage: 78.2+ KB

In [11]:
upcoming_patients.head()

   FirstName  LastName
0    Morgana     Chris
1     Andree     Alica
2  Tanitansy  Bergwall
3     Rosana     Blain
4      Rheba  Doersten

**Expected Output**

A table with all upcoming patient names, and the names and medical records of their closest ancestor (prefixed "Parent" in the table). Where no medical records are found in an upcoming patient's ancestry, the columns are simply filled with "None".

Example:

| FirstName | LastName | ParentFirstName | ParentLastName | ParentHeight | ParentWeight | ParentOccupation | ParentDiabetic | ParentHeartDisease | ParentSmoking | ParentDrinkAlcohol |
|-----------|----------|-----------------|----------------|--------------|--------------|------------------|----------------|--------------------|---------------|--------------------|
| Justin    | Bieber   | Margaret        | Bieber         | 180          | 70           | Office Worker    | Yes            | Yes                | No            | Stopped            |
| Rebecca   | Black    | None            | None           | None         | None         | None             | None           | None               | None          | None               |

In [12]:
# Display all rows
upcoming_patients

      FirstName  LastName
0       Morgana     Chris
1        Andree     Alica
2     Tanitansy  Bergwall
3        Rosana     Blain
4         Rheba  Doersten
...         ...       ...
4995     Elysia   Beattie
4996    Yolande      Pool
4997    Cherish  Beauvais
4998    Mellisa   Giorgio
4999        Ida   Woodsum

[5000 rows x 2 columns]

In [14]:
# Clone upcoming patients table
clone = upcoming_patients.copy()
clone

      FirstName  LastName
0       Morgana     Chris
1        Andree     Alica
2     Tanitansy  Bergwall
3        Rosana     Blain
4         Rheba  Doersten
...         ...       ...
4995     Elysia   Beattie
4996    Yolande      Pool
4997    Cherish  Beauvais
4998    Mellisa   Giorgio
4999        Ida   Woodsum

[5000 rows x 2 columns]

In [20]:
# Find first name and last name of "results" from Family Book Table
clone
        # Assign the matched result into temp_row
        
        # Append the matched results into list

          self    other
0        Chris   Edbert
1        Alica     Nora
2     Bergwall  Valonia
3        Blain    Camey
4     Doersten   Edbert
...        ...      ...
4995   Beattie    Hilar
4996      Pool  Viviene
4997  Beauvais  Hardner
4998   Giorgio    Hilar
4999   Woodsum   Rebane

[4986 rows x 2 columns]

In [ ]:
#Update list and create new columns

      FirstName    LastName ParentFirstName ParentLastName
0       Morgana       Chris             NaN            NaN
1        Andree       Alica             NaN            NaN
2     Tanitansy    Bergwall             NaN            NaN
3        Rosana       Blain             NaN            NaN
4         Rheba    Doersten             NaN            NaN
5          Page     Tabshey             NaN            NaN
6         Elise     Kirsten             NaN            NaN
7          Kass     Naamann             NaN            NaN
8      Carrissa        Mada             NaN            NaN
9      Valencia     Dearman             NaN            NaN
10        Tisha      Nicola             NaN            NaN
11       Pearle     Bertina             NaN            NaN
12       Alison   Stephania             NaN            NaN
13         Shel       Tybie             NaN            NaN
14         Gina     Annette             NaN            NaN
15        Hilda   Citarella             NaN            NaN
16     Olivette     Joelynn             NaN            NaN
17       Lorene   Lynnworth             NaN            NaN
18       Hayley       Skiba             NaN            NaN
19        Anita       Gault             NaN            NaN
20        Bessy     Berhley             NaN            NaN
21      Joelynn       Ratib             NaN            NaN
22       Cookie     Hardner             NaN            NaN
23       Mollie   Garfinkel             NaN            NaN
24      Kynthia     Emmerie             NaN            NaN
25       Robina      Anitra             NaN            NaN
26      Phillie      Anselm             NaN            NaN
27        Nixie     Durston             NaN            NaN
28        Winna       Fancy             NaN            NaN
29  Minnaminnie     Weisman             NaN            NaN
30        Kevyn      Rocher             NaN            NaN
31      Karalee      Raskin             NaN            NaN
32        Helen       Booma             NaN            NaN
33         Nana    Schinica             NaN            NaN
34         Ange        Yona             NaN            NaN
35      Carmina     Iolenta             NaN            NaN
36       Alisha      Ludvig             NaN            NaN
37       Leshia    Allistir             NaN            NaN
38       Zulema     Venetia             NaN            NaN
39      Agnesse     Quintus             NaN            NaN
40       Hannie       Erika             NaN            NaN
41         Orly    Barncard             NaN            NaN
42    Esmeralda     Cosenza             NaN            NaN
43       Cindee    Mohammed             NaN            NaN
44         Mala      Harrie             NaN            NaN
45    Allianora      Trisha             NaN            NaN
46      Tamqrah   Gasperoni             NaN            NaN
47      Imojean     Alberto             NaN            NaN
48       Brandy        Burr             NaN            NaN
49         Kate     Dragone            Linn        Dragone
50       Nickie     Procora             NaN            NaN
51       Simona    Brubaker        Rosaleen       Brubaker
52        Vonni     Dragone            Linn        Dragone
53    Selestina    Secundas          Catlee       Secundas
54      Goldina   Justinian          Maisie      Justinian
55         Bebe     Woodsum             NaN            NaN
56          Dix   Justinian          Maisie      Justinian
57       Zorine    Donielle          Hannah       Donielle
58        Bliss    Brubaker        Rosaleen       Brubaker
59        Robbi      George             NaN            NaN
60       Leland     Woodsum            Bebe        Woodsum
61       Ondrea       Hilar         Marleen          Hilar
62     Nannette      Raskin            Olly         Raskin
63    Henriette        Yona            Ange           Yona
64        Caril      Muriel             NaN            NaN
65        Tarra     Bartley             NaN            NaN
66      Novelia      Fulvia             NaN            NaN
67        Karie     Woodsum            Bebe        Woodsum
68        Perla        Marr            Liza           Marr
69       Maisie  Wilhelmine             NaN            NaN
70        Marci       Tybie            Shel          Tybie
71       Alidia       Booma           Helen          Booma
72    Pierrette      Anitra          Robina         Anitra
73         Shir     Ezarras             NaN            NaN
74        Anthe     Bertina          Pearle        Bertina
75     Delphine   Lynnworth          Lorene      Lynnworth
76       Norine     Weisman     Minnaminnie        Weisman
77      Carolee       Cavan             NaN            NaN
78       Cecile       Cavan         Carolee          Cavan
79       Phelia        Kato           Paola           Kato
80    Cleopatra     Dearman        Valencia        Dearman
81         Tori       Petes             NaN            NaN
82     Cathrine    Secundas         Kristin       Secundas
83     Casandra      Jarred             NaN            NaN
84       Kamila       Booma           Helen          Booma
85        Devan       Tobey         Junette          Tobey
86        Cyndi     Erskine             NaN            NaN
87       Athena      Tilden          Elnora         Tilden
88      Lindsey   Lynnworth          Lorene      Lynnworth
89        Marja    Secundas          Catlee       Secundas
90    Charlotte    Brubaker          Kattie       Brubaker
91    Ammamaria     Annette            Gina        Annette
92       Cordey       Arola             NaN            NaN
93    Henrietta        Marr           Datha           Marr
94          Bea     Marilyn         Jilleen        Marilyn
95       Anthia      Alayne             NaN            NaN
96      Marjory      Yancey             NaN            NaN
97        Holly      Jarred        Casandra         Jarred
98        Nanci       Salot             NaN            NaN
99       Sheela        Yona           Joell           Yona

In [ ]:
# Find the match rows of ParentFirstName and ParentLastName in "results" table from PastMedicalRecord Table

    
        # Assign the matched result into temp_row

        # Append the matched results into list

        # Append the NaN into list if there is no matched rows

In [ ]:
# Check Length
len(ParentHeight)

5000

In [ ]:
#Update list and create new columns

,FirstName,LastName,ParentFirstName,ParentLastName,ParentHeight,ParentWeight,ParentOccupation,ParentDiabetic,ParentHeartDisease,ParentSmoking,ParentDrinkAlcohol
0,Morgana,Chris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andree,Alica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanitansy,Bergwall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rosana,Blain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rheba,Doersten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Page,Tabshey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Elise,Kirsten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Kass,Naamann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Carrissa,Mada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Valencia,Dearman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tisha,Nicola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Pearle,Bertina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Alison,Stephania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Shel,Tybie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Gina,Annette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Hilda,Citarella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Olivette,Joelynn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Lorene,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Hayley,Skiba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Anita,Gault,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bessy,Berhley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Joelynn,Ratib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Cookie,Hardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Mollie,Garfinkel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Kynthia,Emmerie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Robina,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Phillie,Anselm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Nixie,Durston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Winna,Fancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Minnaminnie,Weisman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Kevyn,Rocher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Karalee,Raskin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Helen,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Nana,Schinica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ange,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Carmina,Iolenta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Alisha,Ludvig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Leshia,Allistir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Zulema,Venetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Agnesse,Quintus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Hannie,Erika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Orly,Barncard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Esmeralda,Cosenza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Cindee,Mohammed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Mala,Harrie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Allianora,Trisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Tamqrah,Gasperoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Imojean,Alberto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Brandy,Burr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Kate,Dragone,Linn,Dragone,197,147,Designer,No,No,Yes,Yes
50,Nickie,Procora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Simona,Brubaker,Rosaleen,Brubaker,200,139,Service Technician,Yes,Yes,No,No
52,Vonni,Dragone,Linn,Dragone,197,147,Designer,No,No,Yes,Yes
53,Selestina,Secundas,Catlee,Secundas,183,92,Processing Machine Operator,No,No,Yes,Stopped
54,Goldina,Justinian,Maisie,Justinian,158,140,Millwright,No,No,Stopped,Yes
55,Bebe,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Dix,Justinian,Maisie,Justinian,158,140,Millwright,No,No,Stopped,Yes
57,Zorine,Donielle,Hannah,Donielle,161,90,Other Construction Equipment Operator,Yes,No,Stopped,Yes
58,Bliss,Brubaker,Rosaleen,Brubaker,200,139,Service Technician,Yes,Yes,No,No
59,Robbi,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Leland,Woodsum,Bebe,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Ondrea,Hilar,Marleen,Hilar,166,141,Operating Engineer,Yes,No,Yes,No
62,Nannette,Raskin,Olly,Raskin,152,104,Airfield Operations Specialist,Yes,No,Yes,Yes
63,Henriette,Yona,Ange,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Caril,Muriel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Tarra,Bartley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Novelia,Fulvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Karie,Woodsum,Bebe,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Perla,Marr,Liza,Marr,188,82,Product Promoter,No,Yes,Yes,No
69,Maisie,Wilhelmine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Marci,Tybie,Shel,Tybie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Alidia,Booma,Helen,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Pierrette,Anitra,Robina,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Shir,Ezarras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Anthe,Bertina,Pearle,Bertina,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Delphine,Lynnworth,Lorene,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Norine,Weisman,Minnaminnie,Weisman,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Carolee,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Cecile,Cavan,Carolee,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Phelia,Kato,Paola,Kato,158,66,Archivist,No,No,Stopped,Yes
80,Cleopatra,Dearman,Valencia,Dearman,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Tori,Petes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Cathrine,Secundas,Kristin,Secundas,185,104,Cook,Yes,No,No,Yes
83,Casandra,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Kamila,Booma,Helen,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Devan,Tobey,Junette,Tobey,196,72,Biological Science Teacher,No,Yes,Yes,No
86,Cyndi,Erskine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Athena,Tilden,Elnora,Tilden,178,127,Industrial Engineering Technician,Yes,No,No,Yes
88,Lindsey,Lynnworth,Lorene,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Marja,Secundas,Catlee,Secundas,183,92,Processing Machine Operator,No,No,Yes,Stopped
90,Charlotte,Brubaker,Kattie,Brubaker,158,59,Microbiologist,No,Yes,No,Stopped
91,Ammamaria,Annette,Gina,Annette,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Cordey,Arola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Henrietta,Marr,Datha,Marr,157,120,Electro-Mechanical Technician,Yes,No,No,Stopped
94,Bea,Marilyn,Jilleen,Marilyn,186,86,Pest Control Worker,No,Yes,No,Yes
95,Anthia,Alayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Marjory,Yancey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Holly,Jarred,Casandra,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Nanci,Salot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Sheela,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
100,Flor,Lynnworth,Lorene,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Diann,Naamann,Lynde,Naamann,166,77,Cook,No,No,Stopped,No
102,Maryellen,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
103,Alleen,Elconin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,April,Rossuck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Charmane,Bowra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Carmen,Christiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Loise,Gery,Halimeda,Gery,194,59,Fire Inspector,No,Yes,Stopped,No
108,Louise,Secundas,Zorina,Secundas,171,117,Woodworker,Yes,Yes,Stopped,No
109,Jeannette,Anurag,Aurilia,Anurag,188,102,Healthcare Practitioner,Yes,Yes,Stopped,Stopped
110,Lexis,Nero,Joni,Nero,152,103,Repairer,No,Yes,Yes,Yes
111,Miguelita,Yona,Ange,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Conchita,Meehan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Merrill,Murat,Roselle,Murat,189,94,Property,No,Yes,Stopped,No
114,Siobhan,Jessalin,Jami,Jessalin,185,99,Hazardous Materials Removal Worker,Yes,No,Stopped,No
115,Cloe,Schinica,Nana,Schinica,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Orelee,Tobey,Junette,Tobey,196,72,Biological Science Teacher,No,Yes,Yes,No
117,Desirae,Anitra,Pierrette,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Haleigh,Erskine,Cyndi,Erskine,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Olympie,Hardner,Cookie,Hardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Elbertina,Cavan,Cecile,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Jacinta,Glanti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Franky,Amberly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Linnet,Citarella,Hilda,Citarella,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Dayle,George,Robbi,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Brook,Fortunna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Joby,Hilar,Ondrea,Hilar,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Xenia,Alberto,Imojean,Alberto,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Aubrette,Blain,Cookie,Blain,158,114,Transportation Worker,Yes,Yes,No,Yes
129,Melanie,Ringe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Cicely,O'Connell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Angelique,Justinian,Dix,Justinian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Salome,Meehan,Conchita,Meehan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Jeniece,Mallina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Lynda,Lynnworth,Ivy,Lynnworth,186,67,Cartographer,No,No,Stopped,No
135,Chelsy,Wiener,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Davine,Gillette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Alejandrina,Romaine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Andrei,Christiana,Carmen,Christiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Babette,Utter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Kenna,Jarred,Casandra,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Marielle,Brandenburg,Estrella,Brandenburg,193,89,Medical Equipment Repairer,No,No,No,Stopped
142,Biddie,Emmerie,Kynthia,Emmerie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Terrijo,Citarella,Leeanne,Citarella,177,77,English Language and Literature Teacher,No,No,Yes,Yes
144,Nita,George,Robbi,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Courtnay,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
146,Jacenta,Brandenburg,Marielle,Brandenburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Jennica,Neve,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Corie,Lenore,Yelena,Lenore,168,100,Grader,No,Yes,Yes,Yes
149,Danell,Kinson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check a loop and find the closest ancestor within 5 generations



# Loop for 5 generations


        # If the ParentHeight is NaN, then we will looking for one level up of closest ancestor
  
            # Find ParentFirstName from Familybook
 
                # Found the matched details and assign to temp_row
 
                #If this temp_row gt medical record, assign the data into the list
                   
                    # Found the matched details and assign to temp_row2
                  
                    # Append the matched results into list
                # Append the results into list (Parents but no medical records)
          # Append the results into list (Top Node and NaN in Parents)
          # Append the results into list (Remain unchanged for the exisiting results)


results.head(150)

,FirstName,LastName,ParentFirstName,ParentLastName,ParentHeight,ParentWeight,ParentOccupation,ParentDiabetic,ParentHeartDisease,ParentSmoking,ParentDrinkAlcohol
0,Morgana,Chris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andree,Alica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanitansy,Bergwall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rosana,Blain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rheba,Doersten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Page,Tabshey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Elise,Kirsten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Kass,Naamann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Carrissa,Mada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Valencia,Dearman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tisha,Nicola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Pearle,Bertina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Alison,Stephania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Shel,Tybie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Gina,Annette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Hilda,Citarella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Olivette,Joelynn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Lorene,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Hayley,Skiba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Anita,Gault,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Bessy,Berhley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Joelynn,Ratib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Cookie,Hardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Mollie,Garfinkel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Kynthia,Emmerie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Robina,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Phillie,Anselm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Nixie,Durston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Winna,Fancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Minnaminnie,Weisman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Kevyn,Rocher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Karalee,Raskin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Helen,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Nana,Schinica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ange,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Carmina,Iolenta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Alisha,Ludvig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Leshia,Allistir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Zulema,Venetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Agnesse,Quintus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Hannie,Erika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Orly,Barncard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Esmeralda,Cosenza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Cindee,Mohammed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Mala,Harrie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Allianora,Trisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Tamqrah,Gasperoni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Imojean,Alberto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Brandy,Burr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Kate,Dragone,Linn,Dragone,197,147,Designer,No,No,Yes,Yes
50,Nickie,Procora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Simona,Brubaker,Rosaleen,Brubaker,200,139,Service Technician,Yes,Yes,No,No
52,Vonni,Dragone,Linn,Dragone,197,147,Designer,No,No,Yes,Yes
53,Selestina,Secundas,Catlee,Secundas,183,92,Processing Machine Operator,No,No,Yes,Stopped
54,Goldina,Justinian,Maisie,Justinian,158,140,Millwright,No,No,Stopped,Yes
55,Bebe,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Dix,Justinian,Maisie,Justinian,158,140,Millwright,No,No,Stopped,Yes
57,Zorine,Donielle,Hannah,Donielle,161,90,Other Construction Equipment Operator,Yes,No,Stopped,Yes
58,Bliss,Brubaker,Rosaleen,Brubaker,200,139,Service Technician,Yes,Yes,No,No
59,Robbi,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Leland,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Ondrea,Hilar,Marleen,Hilar,166,141,Operating Engineer,Yes,No,Yes,No
62,Nannette,Raskin,Olly,Raskin,152,104,Airfield Operations Specialist,Yes,No,Yes,Yes
63,Henriette,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Caril,Muriel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Tarra,Bartley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Novelia,Fulvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Karie,Woodsum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Perla,Marr,Liza,Marr,188,82,Product Promoter,No,Yes,Yes,No
69,Maisie,Wilhelmine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Marci,Tybie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Alidia,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Pierrette,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Shir,Ezarras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Anthe,Bertina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Delphine,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Norine,Weisman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Carolee,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Cecile,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Phelia,Kato,Paola,Kato,158,66,Archivist,No,No,Stopped,Yes
80,Cleopatra,Dearman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Tori,Petes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Cathrine,Secundas,Kristin,Secundas,185,104,Cook,Yes,No,No,Yes
83,Casandra,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Kamila,Booma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Devan,Tobey,Junette,Tobey,196,72,Biological Science Teacher,No,Yes,Yes,No
86,Cyndi,Erskine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Athena,Tilden,Elnora,Tilden,178,127,Industrial Engineering Technician,Yes,No,No,Yes
88,Lindsey,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Marja,Secundas,Catlee,Secundas,183,92,Processing Machine Operator,No,No,Yes,Stopped
90,Charlotte,Brubaker,Kattie,Brubaker,158,59,Microbiologist,No,Yes,No,Stopped
91,Ammamaria,Annette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Cordey,Arola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Henrietta,Marr,Datha,Marr,157,120,Electro-Mechanical Technician,Yes,No,No,Stopped
94,Bea,Marilyn,Jilleen,Marilyn,186,86,Pest Control Worker,No,Yes,No,Yes
95,Anthia,Alayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Marjory,Yancey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Holly,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Nanci,Salot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Sheela,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
100,Flor,Lynnworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Diann,Naamann,Lynde,Naamann,166,77,Cook,No,No,Stopped,No
102,Maryellen,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
103,Alleen,Elconin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,April,Rossuck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Charmane,Bowra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Carmen,Christiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Loise,Gery,Halimeda,Gery,194,59,Fire Inspector,No,Yes,Stopped,No
108,Louise,Secundas,Zorina,Secundas,171,117,Woodworker,Yes,Yes,Stopped,No
109,Jeannette,Anurag,Aurilia,Anurag,188,102,Healthcare Practitioner,Yes,Yes,Stopped,Stopped
110,Lexis,Nero,Joni,Nero,152,103,Repairer,No,Yes,Yes,Yes
111,Miguelita,Yona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Conchita,Meehan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Merrill,Murat,Roselle,Murat,189,94,Property,No,Yes,Stopped,No
114,Siobhan,Jessalin,Jami,Jessalin,185,99,Hazardous Materials Removal Worker,Yes,No,Stopped,No
115,Cloe,Schinica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Orelee,Tobey,Junette,Tobey,196,72,Biological Science Teacher,No,Yes,Yes,No
117,Desirae,Anitra,Robina,Anitra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Haleigh,Erskine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Olympie,Hardner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Elbertina,Cavan,Carolee,Cavan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Jacinta,Glanti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Franky,Amberly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Linnet,Citarella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Dayle,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Brook,Fortunna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Joby,Hilar,Marleen,Hilar,166,141,Operating Engineer,Yes,No,Yes,No
127,Xenia,Alberto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Aubrette,Blain,Cookie,Blain,158,114,Transportation Worker,Yes,Yes,No,Yes
129,Melanie,Ringe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Cicely,O'Connell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Angelique,Justinian,Maisie,Justinian,158,140,Millwright,No,No,Stopped,Yes
132,Salome,Meehan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Jeniece,Mallina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Lynda,Lynnworth,Ivy,Lynnworth,186,67,Cartographer,No,No,Stopped,No
135,Chelsy,Wiener,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Davine,Gillette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Alejandrina,Romaine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Andrei,Christiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Babette,Utter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Kenna,Jarred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Marielle,Brandenburg,Estrella,Brandenburg,193,89,Medical Equipment Repairer,No,No,No,Stopped
142,Biddie,Emmerie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Terrijo,Citarella,Leeanne,Citarella,177,77,English Language and Literature Teacher,No,No,Yes,Yes
144,Nita,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Courtnay,Yona,Joell,Yona,150,55,Chef,No,Yes,Yes,Stopped
146,Jacenta,Brandenburg,Estrella,Brandenburg,193,89,Medical Equipment Repairer,No,No,No,Stopped
147,Jennica,Neve,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Corie,Lenore,Yelena,Lenore,168,100,Grader,No,Yes,Yes,Yes
149,Danell,Kinson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Export to CSV File